.hero {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 2rem;
}

.hero-text {
  margin: 0 auto;
}

.about-text {
  color: var(--color-text-secondary);

  font-size: 1.25rem;
  line-height: 1.6;

  max-width: 30rem;
}

.hero-image {
  max-width: 15rem;
  margin: 1rem auto;

  background-color: white;
  border-radius: 2rem;

  box-shadow: var(--shadow-elevation);

  transition: 0.3s ease;
}

.hero-image:hover {
  transform: translateY(-0.25rem) translateX(-0.25rem);
}