.footer {
  background-color: var(--color-footer-background);
  border-radius: 1rem 1rem 0 0;

  padding: 2rem;

  color: var(--color-text-secondary);
}

#contact {
  max-width: fit-content;
  margin: 1rem auto;
}

.contact {
  display: inline-block;
  width: 2rem;
  margin: 0 1rem;
}

#modified {
  display: flex;
  justify-content: center;

  padding-top: 1rem;
}
