header {
  margin: 1rem;
  position: sticky;
  top: 2rem;
  z-index: 2;
}

#mainPar {
  display:grid;
  grid-template-columns: 1fr 0.5fr;
  margin: 0 auto;

  max-width: 600px;
  min-height: 3.2rem;
  background-color: var(--color-surface);
  box-shadow: var(--shadow-elevation);

  border: solid 4px var(--color-border);
  border-radius: 50px;
}

.h3 {
  padding-left: 3rem;
}

.as {
  display: flex;
  padding-right: 2rem;
  margin-left: auto;
  align-items: center;
  border-radius: inherit;
}

.a {
  margin: 0 0.25rem;
}

.img {
  max-width: 2rem;
  margin-right: 2rem;
  
  display: flex;
  justify-self: right;
  align-self: center;

  border-radius: inherit;

  cursor: pointer;
}

#sidePar {
  height: 100%;
  width: 0;
  position:absolute;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: var(--color-navbar-background);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#sidePar a {
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

#sidePar #closeB {
  position: fixed;
  top: 0;
  font-size: 2rem;
  margin-left: 2rem;
}
